@font-face { font-family: Oribtron; src: url('./lib/font/orbitron-master/OrbitronBlack.otf'); } 

:root {
	--font-body: Oribtron;
	--font-mono: 'Fira Mono', monospace;
	--color-purple: #Bb44f0;
	--color-purple-hover: #c848ff;
	--color-green: #a1ce3f;
	--color-green-hover: #bdf14c;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	overflow-x: hidden;
	margin: 0;
	background-color: var(--color-bg-1);
	background-size: cover;
	background-image: linear-gradient(#000000b8, #000000b8), url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}


